<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container mt-4">
    <h4>Medicines</h4>
    <a class="btn btn-success mb-3" href="/medicines/create-medicine">Add Medicine</a>
    <div class="col-10">
        <h5 th:unless="${medicines} and ${medicines.size()}">There are no medicines!</h5>
        <table th:if="${medicines.size() > 0}" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Manufacturer</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="medicine : ${medicines}">
                    <td th:text="${medicine.id}"></td>
                    <td th:text="${medicine.name}"></td>
                    <td th:text="${medicine.description}"></td>
                    <td th:text="${medicine.manufacturer}"></td>
                    <td><a class="btn btn-info btn-sm" th:href="@{'/medicines/edit-medicine/' + ${medicine.id}}">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm" th:href="@{'/medicines/delete/' + ${medicine.id}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
