<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container mt-4">
    <h4>Patients</h4>
    <a class="btn btn-success mb-3" href="/patients/create-patient">Add Patient</a>
    <div class="col-10">
        <h5 th:unless="${patients} and ${patients.size()}">There are no patients!</h5>
        <table th:if="${patients.size() > 0}" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>EGN</th>
                    <th>Insurance Paid</th>
                    <th>GP</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.egn}"></td>
                    <td th:text="${patient.healthInsurancePaid} ? 'Yes' : 'No'"></td>
                    <td th:text="${patient.generalPractitionerName}"></td>
                    <td><a class="btn btn-info btn-sm" th:href="@{'/patients/edit-patient/' + ${patient.id}}">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm" th:href="@{'/patients/delete/' + ${patient.id}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
