<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container mt-4">
    <h4>Diagnoses</h4>
    <a class="btn btn-success mb-3" href="/diagnoses/create-diagnosis">Add Diagnosis</a>
    <div class="col-10">
        <h5 th:unless="${diagnoses} and ${diagnoses.size()}">There are no diagnoses!</h5>
        <table th:if="${diagnoses.size() > 0}" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="diagnosis : ${diagnoses}">
                    <td th:text="${diagnosis.id}"></td>
                    <td th:text="${diagnosis.code}"></td>
                    <td th:text="${diagnosis.name}"></td>
                    <td th:text="${diagnosis.description}"></td>
                    <td><a class="btn btn-info btn-sm" th:href="@{'/diagnoses/edit-diagnosis/' + ${diagnosis.id}}">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm" th:href="@{'/diagnoses/delete/' + ${diagnosis.id}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
